{
  "extends": ["standard"],
  "rules": {
      "no-unused-expressions": 2,
      "no-unused-vars": [2, {"args": "none"}],
      "quotes": [
          2,
          "single"
      ],
      "semi": [
          2,
          "always"
      ],
      "space-before-blocks": 2,
      "space-before-function-paren": [2, "never"],
      "valid-typeof": 2,
      "react/jsx-uses-react": "error",
      "react/jsx-uses-vars": "error"
  },
  "env": {
      "browser": true,
      "es6": true,
      "jest": true,
      "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.config.prod.js"
      }
    },
    "react": {
      "version": "16.2"
    }
  },
  "plugins": [
    "prettier",
    "jsx-a11y",
    "react"
  ]
}
